<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info del Proyecto</title>
</head>
<body>
    <table>
        <tr>
            <th>Puerto</th><th>Plataforma</th><th>versionNode</th><th>memoriaTotalReservada</th><th>pathExec</th><th>processId</th><th>capetaProyecto</th><th>CantCpus</th>
        </tr>
        <tr>
            <td><%= info.puerto %> </td>
            <td><%= info.plataforma %> </td>
            <td><%= info.versionNode %> </td>
            <td><%= info.memoriaTotalReservada %> </td>
            <td><%= info.pathExec %> </td>
            <td><%= info.processId %> </td>
            <td><%= info.capetaProyecto %> </td>
            <td><%= info.cantCpus %> </td>
        </tr>
    </table>
        
</body>
</html>