<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Tu carrito :)</h1>
    <table>
        <tr>
            <th>Title</th><th>Image</th><th>Price</th><th>Cant</th><th>total</th>
        </tr>
        <% productsInCart.forEach(producto => { %>
            <tr>
                <td><%= producto.title %> </td>
                <td><img src="<%= producto.thumbnail %>" alt=""> </td>
                <td>U$S <%= producto.price %> </td>
                <td><%= producto.quantity %> </td>
                <td>U$S <%= (producto.total) %> </td>
            </tr>
        <% }) %>  
    </table>
    <button onclick="location.href='/api/products/all'">Volver a la tienda</button>
    <form action="/api/carts/purchase" method="POST"> <input type="submit" name="purchase" id="purchase" value="Finalizar Compra"></form>
</body>
</html>