<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/sketchy/bootstrap.min.css" integrity="sha384-RxqHG2ilm4r6aFRpGmBbGTjsqwfqHOKy1ArsMhHusnRO47jcGqpIQqlQK/kmGy9R" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <section class="vh-200" style="background-color: #6e644f;">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <h1>Bienvenido <%= email %></h1>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-primary" onclick="location.href='/api/user/logout'">Sing off</button>
                    </li>
                    <li class="nav-item">
                        <button type="button" class="btn btn-primary" onclick="location.href='/api/carts/usercart'">Go to cart!</button>
                    </li>
                </ul>
                </div>
            </div>
        </nav>
        <div>
            <h1><img src="<%=avatar%>" alt="avatar"></h1>
        </div>
        <div>
            <div class="card-body p-4 p-lg-5 text-black">
                <h1 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;"> Formulario de ingreso de nuevo producto</h1>
                <form action="/api/products" method="POST">
                    <div>
                        Title: <input id="form2Example17" class="form-control form-control-lg" name="title" id="title" type="text" placeholder="Ingrese nombre del producto">
                    </div>
                    <div>
                        Description: <input id="form2Example17" class="form-control form-control-lg" name="description" id="description" type="text" placeholder="Ingrese la descripcion del producto">
                    </div>
                    <div>
                        Code: <input id="form2Example17" class="form-control form-control-lg" name="code" id="code" type="text" placeholder="Ingrese codigo del producto">
                    </div>
                    <div>
                        Imagen del Producto: <input id="form2Example17" class="form-control form-control-lg" name="thumbnail" id="thumbnail" type="text" placeholder="Ingrese URL de imagen del producto">
                    </div>
                    <div>
                        Price: <input id="form2Example17" class="form-control form-control-lg" name="price" id="price" type="number" placeholder="Ingrese precio en u$S">
                    </div>
                    <div>
                        Stock inicial de carga: <input id="form2Example17" class="form-control form-control-lg" name="stock" id="stock" type="number" placeholder="Ingrese el stock inicial del producto">
                    </div>
                    <button type="submit" type="button" class="btn btn-success">Subir</button>
                </form>
            </div>
                <div id="productos"></div>
            </div>
            <h1>Stock actual</h1>
            <table class="table table-hover">
        <thead>    
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Price</th>
                <th scope="col">Description</th>
                <th scope="col">Image</th>
                <th scope="col">Stock</th>
                <th scope="col">add Cart</th>
                <th scope="col">delete Product</th>
            </tr>
        </thead>
        <tbody>
            <% products.forEach(producto => { %>
                <tr class="table-primary">
                    <td><%= producto.title %> </td>
                    <td><%= producto.price %> </td>
                    <td><%= producto.description %> </td>
                    <td><img src="<%= producto.thumbnail %>" alt=""> </td>
                    <td><%= producto.stock %> </td>
                    <td><form action="/api/carts/<%=cartId%>/product_id/<%=producto._id%>" method="POST"><input type="submit" class="btn btn-primary" value="add to cart"></form></td>
                    <td><form action="/api/products/delete/<%=producto._id%>" method="POST"><input type="submit" class="btn btn-primary" value="Delete Product"></form></td>
                </tr>
                <% }) %>  
            </tbody>
        </table>
    </section>
    </body>
</html>